{
  "comments": false,
  "env": {
    "test": {
      "presets": [
        ["env", {
          "modules": "commonjs"
        }],
        "stage-0",
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
      ]
    },
  },
  "plugins": [
      "transform-es2015-modules-commonjs",
	  "transform-runtime",
	  ["module-resolver", {
		  "root": ["./src"],
		  "cwd": ".",
          "extensions": [".js", ".ts", ".vue"],
		  "alias": {
			  "chl": "./src/js",
			  "@": "./src",
			  "three-examples": "./node_modules/three/examples/js",
			  "models": "./static/models",
			  "^vue$": "vue/dist/vue.common.js"
		  }
	  }]
  ]
}
